[Desktop Entry]
Version=1.0
Name=GrubZilla (Menu)
Name[pl_PL]=GrubZilla (Menu)
Comment=Creates and manages system backups
Exec=/usr/bin/grubzilla-menu
Icon=grubzilla
Terminal=false
Type=Application
Categories=System;Utility;
Actions=UpdaterGRUB;RemoverGRUB;

[Desktop Action UpdaterGRUB]
Name=Updater-GRUB
Exec=/usr/bin/updater-GRUB  
Icon=updater

[Desktop Action RemoverGRUB]
Name=Remover-GRUB
Exec=/usr/bin/remover-GRUB      
Icon=remover




